@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");

body {
  font-family: "Mountains of Christmas", cursive;
  text-align: center;
  background-color: #dab86e;
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Ensure the body takes at least the full viewport height. */
  justify-content: center; /* Center vertically. */
  align-items: center; /* Center horizontally. */
  margin: 0; /* Remove default margin. */
}

.header {
  color: #ffffff;
  background: linear-gradient(150deg, #df2e38, #eb455f, #21bf73, #557c55);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: x-large;
  width: 100%;
  position: absolute;
  top: 0; /* Keep the footer at the top. */
}

.xmas {
  padding: 1rem;
  font-size: xx-large;
  color: #ca244c;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-color: #21bf73;
  border-style: solid;
  border-radius: 50px;
}

.footer {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: linear-gradient(150deg, #df2e38, #eb455f, #21bf73, #557c55);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: large;
  width: 100%;
  position: absolute;
  bottom: 0; /* Keep the footer at the bottom. */
}

.elements {
  padding: 1rem;
  height: 2rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
